* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro',
    Arial, serif;
  color: #666;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6ffed;
  padding: 20px 30px;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Bold.woff'), url('../fonts/FiraCode-Light.woff'),
    url('../fonts/FiraCode-Medium.woff'), url('../fonts/FiraCode-Regular.woff'),
    url('../fonts/FiraCode-SemiBold.woff'), url('../fonts/FiraCode-VF.woff');
}

.container {
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  padding-top: 35px;
  padding-right: 10px;
  padding-bottom: 2em;
  max-width: 800px;
  height: 80%;
  font-weight: 350;
  font-size: 18px;
}

.container img {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 15px;
  object-fit: cover;
}

.container .main {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.container .main::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 5px;
}

.main::-webkit-scrollbar-corner {
  background-color: transparent;
}

.container .main::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  transition: all ease-in-out 0.4s;
}

.container .main:hover::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
}

.container .main pre code ol {
  display: grid;
  min-width: 400px;
}

.container .main pre code ol li {
  padding-left: 1em;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  margin: 5px 0;
}

.container .main pre code ol li::marker {
  content: attr(data-line);
}

.container .main .name {
  position: absolute;
  bottom: 1em;
  transform: translateY(50%);
  left: 10px;
}

a {
  text-decoration: underline 2px solid transparent;
  color: inherit;
  transition: all ease-in-out 0.3s;
}

a:hover {
  text-decoration-color: inherit;
}

footer {
  position: absolute;
  bottom: 30px;
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 14px;
  }
}
